<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
{% if category %}
<h1>{{ category_name }}</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    no pages in the category
    {% endif %}
    <a href="/rango/add_page/{{{category.slug }}">add new Page</a>
{% else %}
    the specified  category {{ category_name }} doesn't exit!
{% endif %}

</body>
</html>