{% extends 'base.html' %}
{% load static %}
{% block body_block %}
{% if user.is_authenticated %}
    <h1>Rango says...{{ user.username }}</h1>
{% else %}
    <h1>Rango says...everyone</h1>
{% endif %}
{% if categories %}
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <strong>There is no categories present</strong>
{% endif %}

{% if category_views_list %}
    <ul>
        {% for category_views in category_views_list %}
            <li><a href="{% url 'category' category_views.slug %}">{{ category_views.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

