<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Rango says...</h1>
hello world! <br/>
{% if categories %}
    <ul>
        {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <strong>There is no categories present</strong>
{% endif %}

{% if category_views_list %}
    <ul>
      {%  for category_views in category_views_list %}
          <li><a href="/rango/category/{{ category_views.slug }}">{{ category_views.name }}</a></li>
      {% endfor %}
    </ul>
{% endif %}
<a href="/rango/about/">About</a><br/>
<a href="/rango/add_category/">Add a New Category</a><br />
<a href="/rango/register/">Register Here</a>

</body>
</html>