<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Registration with rango</h1>

{% if registered %}
<p>congraulations! your're already register successfully</p>
<a href="/rango/">return to rango home</a>
{% else %}
<strong>Register here!</strong><br/>
<form id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">

    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}


    <input type="submit" name="submit" value="Register"/>
</form>
{% endif %}
</body>
</html>